body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  height: 100vh;
  background: linear-gradient(135deg, #0d1b2a, #1b263b, #415a77);
  background-size: 200% 200%;
  animation: darkBlueTransition 10s ease infinite;
  color: aliceblue;
}

@keyframes darkBlueTransition {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

i{
  cursor: pointer;
}

#emailHelp{
  color: aliceblue;
}

#exampleModalLabel{
  color: #0d1b2a;
}

.form-label{
  color: aliceblue;
}

#uTag, #uDescription, #uTitle{
  color: #0d1b2a;
}
